<div id="contents_text">
  <h2>아마추어 작가들의 작품들을</h2>
  <h2>저렴한 가격에 구매할 수 있습니다.</h2>
</div>

      <% include ../auth/image_slider.ejs %>

<!-- <div id='wrapper'>

            <section class="thumbnails">
              <div id=1>
                  <a href="image/arts/01.jpg">
                      <img src="/image/arts/01.jpg" alt="" />
                      <h3>괴물-10000원</h3>
                  </a>
                <%for(var i = 0; i < artworks.length; i+=3) {%>
                  <a href="artwork/<%=artworks[i]._id%>">
                  <img src="images/artworks/<%=artworks[i].image%>" alt="" />
                  <h3><%= artworks[i].title%>-<%= artworks[i].price%></h3>
                <%} %>
              </div>
              <div id=2>
                  <a href="image/arts/02.jpg">
                      <img src="/image/arts/02.jpg" alt="" />
                      <h3>균열-15000원</h3>
                  </a>
                  <%for(var i = 1; i < artworks.length; i+=3) {%>
                  <a href="artwork/<%=artworks[i]._id%>">
                    <img src="/images/artworks/<%=artworks[i].image%>" alt="" />
                  <h3><%= artworks[i].title%>-<%= artworks[i].price%></h3>
                <%} %>
              </div>
              <div id=3>
                  <a href="image/arts/03.jpg">
                    <img src="/image/arts/03.jpg" alt="" />
                    <h3>환상-20000원</h3>
                </a>
                <%for(var i = 2; i < artworks.length; i+=3) {%>
                  <a href="artwork/<%=artworks[i]._id%>">
                    <img src="/images/artworks/<%=artworks[i].image%>" alt="" />
                  <h3><%= artworks[i].title%>-<%= artworks[i].price%></h3>
                <%} %>
              </div>
            </section>
</div> -->
