<!-- REMOVE Analytics Code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-950065-32']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Analytics Code -->
<div class="container">
	<div class="row">
			<div class="well">
        <h4>최근 등록된 작품</h4>
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <%artworks.forEach(function(artwork, idx){%>
                    <%if (idx%4==0){%>
                    <div class="item
                        <%if(idx/4==0){ %><%=' active'%><%}%>">
                        <div class="row">
                    <%}%>
                            <div class="col-md-3"><a href="artwork/<%=artwork._id%>" class="thumbnail"><img class="img-responsive" src="images/artworks/<%=artwork.image%>" alt="Thumb<%=idx+1%>"></a>
                                <div><%=artwork.title%>(<%=artwork.material%>/<%=artwork.medium%>)</div>
                                <div><%=artwork.width%>X<%=artwork.height%>X<%=artwork.depth%></div>
                                <div><%=artwork.price%>원</div>
                            </div>
                            <%if (idx%4==3){%>
                        </div>
                    </div>
                    <%}})%>
                </div>
                <div id=control-box>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="image/left.jpg" height="30px" width="30px" class="fa fa-chevron-left fa-2x" ></img></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="image/right.jpg" height="30px" width="30px" class="fa fa-chevron-right fa-2x"></img></a>
              </div>
                <ol class="<carousel></carousel>-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            </div><!-- End Carousel -->
        </div><!-- End Well -->
    </div>
</div>
<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
	$('#myCarousel').carousel({
		interval:   4000
	});
</script>


<style>
body { padding-top: 50px; }

/*#####################
Additional Styles (required)
######################*/
.well{
  text-align: center;
  background-color: white;
}
.well h4{
  padding-bottom: 2rem;
}

#myCarousel .thumbnail {
	margin-bottom: 0;
}

/* Carousel Control */

.carousel-control{
        margin:0 auto;
        border: 0px;
        font-weight: 200;
        line-height: 20px;
        opacity: 0.5;
        position: static;
        height: 30px;
        width: 30px;
}
#control-box{
  padding-top: 1rem;
}
.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li {
	border-radius:0;
	width:10px;
	height:10px;
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	background:#3276b1;
	border-color:#3276b1;
}

</style>
