<section class="content block-list">
    <header>
        <a href="#">
            <h3 style="font-size: 24px;">최근 그림</h3>
        </a>
        <a href="/all_artworks/all_artworks" class="all_link">더 보기</a>
  
    </header>
    <ul>
        <%artworks.forEach(function(artwork, idx){%>
          <% if (idx < 4){%>

        <li class = "img_li">
          <div class="img_box">

            <a href="artwork/<%=artwork._id%>">
                <img src="images/artworks/<%=artwork.image%>" alt="Thumb<%=idx+1%>" class = " slider_img">
            </a>
            </div>
            <div class="excerpt">
                <a>
                    <h3><%=artwork.title%></h3>
                </a>
                <p>
                    <p>재료 : <%=artwork.material%>/<%=artwork.medium%></p>
                    <p>크기 : <%=artwork.width%>X<%=artwork.height%>X<%=artwork.depth%>(cm)</p>
                    <p>가격 : <%=artwork.price%>원</p>
                </p>
            </div>
        </li>
        <%}%>
        <%})%>
    </ul>
</section>

<style media="screen">

  .img_box{
    height: 280px;
    width: 1%;
      text-align: center;
    display:table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;

  }
</style>
