<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/earlyaccess/jejuhallasan.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail.css' />

  <title><%= artwork.title %> - <%= title %></title>
  </head>


  <body>
        <% include auth/nav.ejs %>

        <div id="contents_text">
          <h2>아마추어 작가들의 작품들을</h2>
          <h2>저렴한 가격에 구매할 수 있습니다.</h2>
          <p>어떤어떤작품 이러이러한작품 </p>
          <p id = "line"></p>
        </div>

  <section id='detail-section'>
    <div id='detail-info'>
      <div class='detail-photo'>
        <div id="myslider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"  >
              <div class="item active">
                <img src="../image/arts/01.jpg" width="100%"  >
              </div>
              <div class="item">
                <img src="../image/arts/02.jpg" width="100%" >
              </div>
              <div class="item">
                <img src="../image/arts/03.jpg" width="100%" >
              </div>
            </div>
            <a class="carousel-control left" href="#myslider" data-slide="prev">
              <img class="left-key" src="../image/left.jpg"></img>
            </a>
            <a class="carousel-control right" href="#myslider" data-slide="next">
              <img class="right-key" src="../image/right.jpg"></img>
            </a>
        </div>
      </div>
      <form>
      <div class='detail-text' >
        <div class='title'>
          <b><%= artwork.title %></b>
        </div>
        <table>
        <tbody>
          <tr >
            <th>카테고리</th>
            <td><%= artwork.category %></td>
          </tr>
          <tr >
            <th>재료</th>
            <td> <%= artwork.material %></td>
          </tr>
          <tr >
            <th>도구</th>
            <td><%= artwork.medium %></td>
          </tr>
          <tr >
            <th>크기</th>
            <td><%= artwork.width %> x <%= artwork.height %> x <%= artwork.depth %></td>
          </tr>

          <tr >
            <th>키워드</th>
            <td> <%= artwork.keyword %></td>
          </tr>
          <tr >
            <th>포장</th>
            <td><%= artwork.packaging %></td>
          </tr>
          <tr >
            <th>주소</th>
            <td> <%= artwork.address %></td>
          </tr>
          <hr class="detail-hr">
          <tr >
            <th>가격</th>
            <td> <%= artwork.price %>원</td>
          </tr>
        </tbody>
      </table>
          <hr class="detail-hr">
      <div class=button-div>
      <a href="#" class="myButton">바로구매</a>

      <a href="#" class="myButton">찜하기</a>
      </div>


      </div>

    </form>
  </div>
  <div class="description">
      <p id = "line"></p>
    <h2 class="description_text">description </h2>

      <h3> <%= artwork.description %> 이런 이러러어어어한 작품인데
    이러이러하니 좀 사보셔 이러리어케 좋은거임</h3>


  </div>
  </section>

      </div>

      <div id = "detail-wrapper">
          <h2>'<%= nickname %>'님의 다른 작품</h2>
          <section class='other-pic'>
              <%if(other_artworks[0] !== undefined) {%>
              <%other_artworks.forEach(function (artwork, idx) {%>
            <div class="other-picture">
                <h2> <%= artwork.title %></h2>
               <a href="../artwork/<%=artwork._id%>"><img src='/images/artworks/<%=artwork.image%>'></a>
                 <h3>카테고리 : <%= artwork.category %></h3>
                 <h3>가격 : <%= artwork.price %>원</h3>
                   <h3>크기 : <%= artwork.width %> x <%= artwork.height %> x <%= artwork.depth %></h3>
            </div>
              <%}) } else {%>
              <div><%=nickname%>님의 다른 작품이 없습니다.</div>
              <%}%>
        </section>
      </div>
  </body>
</html>
