<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <title><%= artwork.title %> - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <% include auth/nav.ejs %>

    <div id = "detail-wrapper">
        <section class='detail_view'>
          <div class ="info">
            <h2> <%= artwork.title %></h2>
            <h3>카테고리 : <%= artwork.category %></h3>
            <h3>재료 : <%= artwork.material %></h3>
            <h3>도구 : <%= artwork.medium %></h3>
            <h3>크기 : <%= artwork.width %> x <%= artwork.height %> x <%= artwork.depth %></h3>
            <h3>가격 : <%= artwork.price %>원</h3>
            <h3>키워드 : <%= artwork.keyword %></h3>

            <h3>포장 : <%= artwork.packaging %></h3>

          </div>

          <div class="picture">
             <img src='/images/artworks/<%= artwork.image%>'>
          </div>

        </section>
        <div class="description">
          <h3>설명 : <%= artwork.description %> dwealfawelkjfalkjewfalkwejfkajwefkajehfjkafkajwf
          awejfjawjekfhalkwjefhawejlkawjlekfhalwjekfhlakweufh
        aweofvnzlkjesflkzhesfluhesf</h3>
          <h3>주소 : <%= artwork.address %>서울특별시 신림동 30303030호</h3>

        </div>
    </div>

    <div id = "detail-wrapper">
        <h2>'<%= nickname %>'님의 다른 작품</h2>
        <section class='other-pic'>
            <%if(other_artworks[0] !== undefined) {%>
            <%other_artworks.forEach(function (artwork, idx) {%>
          <div class="other-picture">
              <h2> <%= artwork.title %></h2>
             <a href="../artwork/<%=artwork._id%>"><img src='/images/artworks/<%=artwork.image%>'></a>
               <h3>카테고리 : <%= artwork.category %></h3>
               <h3>가격 : <%= artwork.price %>원</h3>
                 <h3>크기 : <%= artwork.width %> x <%= artwork.height %> x <%= artwork.depth %></h3>
          </div>
            <%}) } else {%>
            <div><%=nickname%>님의 다른 작품이 없습니다.</div>
            <%}%>
        </section>
      </div>
  </body>
</html>
