<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="../stylesheets/reset.css" rel="stylesheet">
  <!-- 브라우저별 기본 셋팅을 0으로 리셋함 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

  <link href="../stylesheets/style.css" rel="stylesheet">
  <link href="../stylesheets/banner.css" rel="stylesheet">
  <link href="../stylesheets/footer.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/earlyaccess/jejuhallasan.css" rel="stylesheet">
  <% include auth/favicon.ejs %>
</head>

<body>
  <% include auth/nav.ejs %>
  <% include auth/modal.ejs %>
  <% include auth/banner.ejs %>

<div class="board_container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <% if (contents !== null){
        for(var i = 0; i < contents.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%=contents[i].title%></td>
        <td><%=contents[i].author%></td>
        <td><%=contents[i].board_date%></td>
        <td></td>
      </tr>
        <%  }} %>
    </tbody>
  </table>
  <hr>

  <ul class="pagination">
<li><a href="board_list?page=<%=pre_page%>">&laquo;</a></li>
<% if (contents !== null){
  for(var i = 0; i < pagination.length/5; i++) { %>
<li><a href="board_list?page=<%= i+1 %>"><%= i+1 %></a></li>
    <%  }} %>
<li><a href="board_list?page=<%=next_page%>">&raquo;</a></li>
</ul>


  <a href="write" class="btn btn-default">글쓰기</a><br>


  <% include auth/footer.ejs %>

</body>
</html>

<style>
#board_table{
  border: 1px solid black;
}
#board_table .list{
  border: 1px solid red;
}
.board_container{
  padding-top: 3rem;
}

</style>
